<a href="https://colab.research.google.com/github/dhruvvv-kush/pw_assignment/blob/main/Assignment_Break_and_Continue_statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

NAME-Dhruv Kushwaha

REGEMAIL- dhruvkushwaha90@gmail.com

COURSENAME-DATA SCIENCE WITH GENERATIVE AI

ASSIGNMENT NAME- break and continue statement

SUBMISSION DATE-1 dec 2024

# Write a program to print numbers from 1 to 10, but stop if the number is 5.

In [1]:
for i in range(1, 11):
  if i == 5:
    break
  print(i)

1
2
3
4

#  Write a program to iterate through a list and stop when encountering a specific element

In [3]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
stop_element = 8

for element in my_list:
  if element == stop_element:
    break
  print(element)

1
2
3
4
5
6
7

#  Write a program to skip printing even numbers from 1 to 10

In [4]:
for i in range(1, 11):
  if i % 2 != 0:
    print(i)

1
3
5
7
9

# Write a program to print numbers from 0 to 9 using range().

In [5]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

#Write a program to print multiplication tables from 1 to 5, but stop after the first table is printed for each number.

In [7]:
for number in range(1, 6):
    print(f"Multiplication Table for {number}:")
    for multiplier in range(1, 11):
        print(f"{number} x {multiplier} = {number * multiplier}")
        if multiplier == 1:
            break
    print()

Multiplication Table for 1:
1 x 1 = 1

Multiplication Table for 2:
2 x 1 = 2

Multiplication Table for 3:
3 x 1 = 3

Multiplication Table for 4:
4 x 1 = 4

Multiplication Table for 5:
5 x 1 = 5

# Write a program to skip printing even numbers using a while loop.

In [8]:
num = 1
while num <= 10:
  if num % 2 != 0:
    print(num)
  num += 1

1
3
5
7
9