<a href="https://colab.research.google.com/github/dhruvvv-kush/pw_assignment/blob/main/Assignment_loops_by_dhruv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

NAME-Dhruv Kushwaha

REGEMAIL- dhruvkushwaha90@gmail.com

COURSENAME-DATA SCIENCE WITH GENERATIVE AI

ASSIGNMENT NAME- loops

SUBMISSION DATE-29 NOV 2024

GIT LINK- https://github.com/dhruvvv-kush/pw_assignment/blob/main/pw_assignment1.ipynb

# Print numbers from 1 to 5 using a while loop.

In [4]:
a=1
while(a<=5):
  print(a)
  a+=1

1
2
3
4
5

# Calculate the sum of numbers from 1 to 10 using a while loop.

In [5]:
a=1
sum=0
while(a<=10):
  sum+=a
  a+=1
print(sum)

55

# Calculate the factorial of a number using a for loop.

In [7]:
a=int(input("enter number :"))
fact=1
for i in range(1,a+1):
  fact*=i
print(fact)

enter number :5
120

# Count the number of vowels in a string using a for loop.

In [11]:
a=str(input("enter any word :"))
count=0
for i in a:
  if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u'):
    count+=1
print(count)

enter any word :aeiou
5

# Print a pattern using nested loops.

In [23]:
a=5
for i in range(1,a+1):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# Generate a multiplication table using nested loops.

In [24]:
a = int(input(  "Enter a number: "))
for i in range (1,11):
  print(a ,"*",i,"=",i*a)

Enter a number: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50