<a href="https://colab.research.google.com/github/dhruvvv-kush/pw_assignment/blob/main/pw_assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Convert an integer to a floating-point number.
a=int(8)
print(type(a))
a=float(a)
print(type(a))
print(a)

<class 'int'>
<class 'float'>
8.0

In [ ]:
#Convert a float to an integer.
a=float(8.52)
print(type(a))
a=int(a)
print(type(a))
print(a)

<class 'float'>
<class 'int'>
8

In [ ]:
#Convert an integer to a string.
a=int(8)
print(type(a))
a=str(a)
print(type(a))
print(a)

<class 'int'>
<class 'str'>
8

In [ ]:
#Convert a list to a tuple.
new_list=[2,5,8,10,'my' ,'your',8.25]
print(type(new_list))
new_list=tuple(new_list)
print(type(new_list))
print(new_list)

<class 'list'>
<class 'tuple'>
(2, 5, 8, 10, 'my', 'your', 8.25)

In [ ]:
#Convert a tuple to a list.
new_tuple=(2,5,8,10,'my' ,'your',8.25)
print(type(new_tuple))
new_tuple=list(new_tuple)
print(type(new_tuple))
print(new_tuple)

<class 'tuple'>
<class 'list'>
[2, 5, 8, 10, 'my', 'your', 8.25]

In [ ]:
#Convert a decimal number to binary.
decimal_number = int(10)
binary_number = bin(decimal_number)[2:]
print("The binary representation of " + str(decimal_number) + " is " + binary_number)

The binary representation of 10 is 0b1010

In [ ]:
#Convert a non-zero number to boolean.
a=int(8)
print(type(a))
a=bool(a)
print(type(a))
print(a)

<class 'int'>
<class 'bool'>
True